<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>

<body class="new">
    <div class="addNew">
        <h1>Edit Itenerary</h1>
        <nav>
            <a href="/itenerary/"><button class="skyButton">Back</button></a>
        </nav>
    </div>
    <div class="form-control-lg">
        <form action="/itenerary/<%=Itenerary._id%>?_method=PUT" method="POST" class="text-center newForm">
            <input class="form-control" type="text" name="name" value="<%=Itenerary.name%>" placeholder="Name"><br/>
            <input class="form-control" type="text" name="startDate" value="<%=Itenerary.startDate?.toDateString()%>"
                placeholder="Start Date"><br/>
            <input class="form-control" type="text" name="endDate" value="<%=Itenerary.endDate?.toDateString()%>"
                placeholder="End Date"><br/>
            <input class="form-control" type="text" name="party" value="<%=Itenerary.party%>" placeholder="Party Size"><br/>
            <input class=" btn btn-light" type="submit" value="submit changes" /><br/>
        </form>
    </div>
</body>

</html>