<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Itenerary Details</h1>
    <nav>
        <a href="/itenerary/"><button>Back</button></a>
    </nav>
    <div>
        <% for(let i = 0; i < Itenerary.trips.length; i++) { %> 
        <h2><%=Itenerary.trips[i].name%></h2>
        <ul>
            <li><%=Itenerary.trips[i].transportationTo%></li>
            <li><%=Itenerary.trips[i].transportation%></li>
            <li><%=Itenerary.trips[i].lodging%></li>
        </ul>
        <a href="/trip/<%= Itenerary.trips[i]._id%>/edit"><button>Edit Trip</button></a> 
        <% } %> 
        <nav>
            <!-- <a href="/itenerary/<%= Itenerary._id%>/edit"><button>Edit Trip</button></a>  -->
        </nav>
    </div>
   
</body>
</html>